@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --blue-primary:#0D3B66;
    --blue-secondary:#007BFF;
    --gray-primary: #6B7280;
    --white: #ffffff;
    --gray-secondary: #9CA3AF;

    font-family: "Inter", sans-serif;

}

h3{
    color: var(--blue-secondary);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 1.25rem;

}

h2{
    color: var(--blue-primary);
    font-size: 1.625rem;
}

p{

    text-align: center;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: var(--gray-primary);
    
}

.input-container{ 
    display: flex;
    flex-direction: column;
    width: 100%;

}
.input-container label{
    margin-bottom: 5px;
    color: var(--blue-primary);
    font-size: .875rem;
    font-weight: 400;
}

.input-container-inputs {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
 
}

.submit-forgot-password{
    display: flex;
    flex-direction: column; 
    width: 100%;
  }
   
  .forgot-password{
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: .875rem;
    font-weight: 400;
    color: var(--blue-secondary);
  
  }

  .login{
    margin-top: 15px;
  }