 *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; }

#root {
  max-width: 1280px;
 
} 


/* Auth.css */

.auth-container {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../media/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  background: #ffffff;
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form a {
  color: #0077b6;
  text-decoration: none;
}



